@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Baloo Da 2", cursive;
  background: #f6f7f9;
}

img {
  display: inline-block;
  max-width: 100%;
}

i {
  margin: 0 4px;
}

button.btn-primary {
  border: none;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 15px 20px;
}

.container,
.fixed-width {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  //   background-color: lea (45deg, #a31518, #a31518);
  background: linear-gradient(300deg, #a31517, #a31518);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 40px 20px;
  }

  .banner-text {
    width: 60%;
    color: white;

    h1 {
      font-size: 3.7rem;
      text-transform: uppercase;
      line-height: 1.2;
    }

    p {
      line-height: 30px;
      margin: 24px 0;
      max-width: 545px;
      text-align: justify;
    }
  }

  .banner-img {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    min-width: 270px;
  }

  .banner-img img {
    width: 100%;
    max-width: 270px;
  }
}

.flex {
  display: flex;
}

main {
  section {
    padding: 40px 20px;
    margin-bottom: 80px;
  }
}

section.counter {
  height: 80vh;
  max-height: 560px;
  background-color: #fff;
  margin-top: 100px;
  max-width: 750px;
  border-radius: 5px;
  border: 2px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  cursor: pointer;

  h3,
  p {
    font-family: "Baloo Da 2", cursive;
    text-align: center;
  }
  .counter-text {
    font-size: 80px;
  }
}

section.controller {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    li {
      list-style: none;
      font-weight: bold;

      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    .flex {
      gap: 6px;
    }

    select {
      border: 1px solid black;
      padding: 4px 4px;
      border-radius: 4px;
      margin-left: 4px;
    }

    label {
      margin-right: 4px;
    }
  }
}

.tool-tip {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

  i {
    opacity: 0.8;
    font-size: 24px;
    padding-bottom: 5px;
  }
}

.functional-btn {
  // gap: 14px !important;
  flex-wrap: wrap;
  margin-top: 40px;
  .btn-function {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid black;
    cursor: pointer;
  }
}

.footer {
  background: linear-gradient(300deg, #a31517, #a31518);
  padding: 40px 20px;
  color: #fff;
  text-align: center;

  small {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
  }
}

// Responsive Design
@media (max-width: 640px) {
  .banner .banner-text {
    width: 100%;
  }
  .banner .banner-text h1 {
    font-size: 15vmin;
  }

  .banner .banner-img {
    width: 100%;
    justify-content: flex-start;
  }
  .banner .banner-img img {
    width: 170px;
  }
}
